# Network / RPC
IOTA_NETWORK=devnet
IOTA_RPC_URL=https://api.devnet.iota.cafe

# Oracle packages / shared objects (current publish)
DEVNET_ORACLE_TASK_SCHEDULER_QUEUE_ID=0xec6cbf58046f7aa1ebae57e4708d5feff83ea3bb276393eca7c56d21eb0b9bdf
DEVNET_ORACLE_TASK_REGISTRY_ID=0x8bbfaeb6776a185952dbc0071cd72d884792d40c78a27342915fcc48d90cf96c
DEVNET_ORACLE_NODE_REGISTRY_ID=0x94314ac5d0ec466400b194f8f5656ec123b70e66b1e3781c1700533eabc12a10
DEVNET_ORACLE_TREASURY_ID=0x90297bb05cc69354734fef7581bdf035951064afe48169c4ea60d910eef8efbc
DEVNET_ORACLE_STATE_ID=0x5c2706eb2e045b336c1b334b64da80ec1a046d7112dc4bd1296dece963466baa
DEVNET_ORACLE_SYSTEM_PACKAGE_ID=0x427fa5c3d2ff7c06cfbf92c5c5fc2a1fdfa9762bc6e80ede39e06ebea1054443
DEVNET_ORACLE_TASKS_PACKAGE_ID=0xc8b7fca122f19b4cee989c2c9a17a2d288e1b90106882ed672c83b32976c4e89
DEVNET_IOTA_RPC_URL=https://api.devnet.iota.cafe

# System singletons
IOTA_RANDOM_OBJECT_ID=0x8
IOTA_CLOCK_ID=0x6

# Client identity
CLIENT_KEY_FILE=./keys/oracle_client.iotaprivkey

# Faucet
AUTO_FAUCET=true
IOTA_FAUCET_URL=https://faucet.devnet.iota.cafe/gas

# Optional overrides
GAS_BUDGET=50000000
WAIT_TIMEOUT_MS=180000
EVENT_POLL_MS=1200

# STORAGE preflight
STORAGE_PROBE_TIMEOUT_MS=15000
CREATE_TASK_VARIANT=scheduled_task_v1
